name: Flat

on:
  push:
    paths:
      - .github/workflows/flat.yml
  workflow_dispatch: {}
  schedule:
    - cron: '*/5 * * * *'

jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
      - name: Setup deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x
      - name: Fetch data
        uses: githubocto/flat@v3
        with:
          http_url: https://api.binance.com/api/v3/ticker/price?symbol=BTCUSDT
          downloaded_filename: btc-price.json
          postprocess: postprocess.js
